<a href="https://colab.research.google.com/github/Parshav-Shah/ISYS5002_portfolio/blob/main/Payslip.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

We need to program to print out a payslip for sales people.  Consider 'Ram' who has a salary of \$25000.  They have sold goods worth $20000 and earns 2% commision on the sales. They fall into the 10% tax bracket and so before making payments we need to deduct 10% form his total payout.

In [ ]:
salary = 25000
sales = 20000
commission = 0.02 * sales
tax = (salary + commission) * 0.10
pay = salary + commission - tax
print('Payslip of Ram')
print('Salary', salary,'Commission',commission,'Tax', tax)
print('Total pay',pay)

Payslip of Ram
Salary 25000 Commission 400.0 Tax 2540.0
Total pay 22860.0

Consider 'Radha' who has a salary of \$30000.  They have sold goods worth $40000 and earns 2.5% commision on the sales. They fall into the 10% tax bracket and so before making payments we need to deduct 10% form his total payout.

In [ ]:
salary = 30000
sales = 40000
commission = 0.025 * sales
tax = (salary + commission) * 0.10
pay = salary + commission - tax
print('Payslip of Radha')
print('Salary', salary,'Commission',commission,'Tax', tax)
print('Total pay',pay)

Payslip of Radha
Salary 30000 Commission 1000.0 Tax 3100.0
Total pay 27900.0

What did we change from Ram to Radha?

In [ ]:
we change values of salary, sales, commission and name.

Make what we changed as inputs (parameters) to a function

In [ ]:
def pay_slip (name,salary,sales,rate):
  commission = rate * sales
  tax = (salary + commission) * 0.10
  pay = salary + commission - tax
  print('Payslip of', name)
  print('Salary:', salary,',Commission:',commission,',Tax:', tax)
  print('Total pay:',pay)

In [ ]:
pay_slip('Parshav',20000,50000,0.30)

Payslip of Parshav
Salary: 20000 ,Commission: 15000.0 ,Tax: 3500.0
Total pay: 31500.0

In [ ]:
pay_slip('Brooks',50000,60000,0.26)

Payslip of Brooks
Salary: 50000 ,Commission: 15600.0 ,Tax: 6560.0
Total pay: 59040.0